/* Mobile */
@media (max-width: 767px) {
  /* body {
    font-size: 0.5rem;
  } */
  /* ul li:hover ul {
    visibility: hidden !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
  } */

  .header-nav {
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
  }
  .user-img {
    height: 3rem;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right-header {
    flex: none;
    width: 100%;
  }
  .user-name {
    display: none;
  }
  .search-container {
    flex: 1;
    margin-bottom: 1rem;
  }

  .navigation > ul > li {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
  }

  /* MAIN */
  .main-nav {
    flex-wrap: wrap;
  }
  .main-state {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  .main-state div {
    width: 100%;
    text-align: center;
  }
  .main-state ul {
    width: 100%;
  }

  /* week-item */
  .week-item-left-content {
    width: 100%;
  }
  .week-item-left-content span,
  .week-item .week-item-right-content p,
  .week-item .week-item-right-content span {
    font-size: x-small;
    margin: 0;
  }
}
